<HTML>
<HEAD>
<TITLE>../../public_html/softpack-1.5/at91sam7s-ek - iso7816_4.h</TITLE>
<script type="text/javascript" src="../../../../common/js.js" language="JavaScript"></script>
<script type="text/javascript" src="leftmenu.js" language="JavaScript"></script>
<script type="text/javascript">
 var relPathToCommmon = "../../../../common/";
 var relPathToHelpDir = "../../../../common/help/";
 var toSearchPage     = "_search','../../../../search";
 Body1();
</script>
<div class="headerPage">iso7816_4.h</div>
<div class="path"><a href="#" OnMouseOver="link('','../../../../index',this)" class="pathLink">Default mainpage</A><img src="../../../../common/path-arrow.gif" class="path-arrow"><a href="#" OnMouseOver="link('_dir','../../at91lib0',this)" class="pathLink">at91lib</A><img src="../../../../common/path-arrow.gif" class="path-arrow"><a href="#" OnMouseOver="link('_dir','../components0',this)" class="pathLink">components</A><img src="../../../../common/path-arrow.gif" class="path-arrow"><a href="#" OnMouseOver="link('_dir','iso78160',this)" class="pathLink">iso7816</A><img src="../../../../common/path-arrow.gif" class="path-arrow"><span class="pathNonLink">iso7816_4.h</span></div>
<script type="text/javascript">
 Body2();
 BodyLeftMenuStart();
WriteLeftMenu("divID5529","aID5529","LeftMenuActive","leftMenuLinkActive");
 BodyLeftMenuEnd();
 Body3();
</script>
<span class="tabInActive"><a href="#" OnMouseOver="linkTab('_unit','iso7816_4_h0','_description',this)" class="tabLinkInActive">Description</a></span>
<span class="tabActive"><a href="#" OnMouseOver="linkTab('_unit','iso7816_4_h0','_overview',this)" class="tabLinkActive">Overview</a></span>
<script type="text/javascript">
 Body4();
</script>
<div class="paragraphTable"></div>
<table cellspacing="0"cellpadding=0 border=0 class="widthAndBorderTop">
<TR VALIGN="top">
<TD class="paddingHeadMultiColumn1"><span class="" align=left>Methods</TD>
<TD class="paddingHeadMultiColumn2"><span class="" align=left>Brief description</TD>
</TR>
<TR VALIGN="top">
<TD class="paddingNormal1"><span class="" align=left><a href="#" onMouseOver="link('_member','ISO7816_cold_reset53616',this); "><img src="../../../../common/info.gif" border=0 onmouseover="overLibDiagram();return overlib('<strong>Syntax</strong><BR>void&nbsp;&nbsp;ISO7816_cold_reset&nbsp;&nbsp;(void )',CAPTION,'<strong>Brief description</strong><BR>cold reset');" onmouseout="return nd();">&nbsp;ISO7816_cold_reset</a></TD>
<TD class="paddingNormal2"><span class="" >cold reset<br>
</TD>
</TR>
<TR VALIGN="top">
<TD class="paddingNormal1"><span class="" align=left><a href="#" onMouseOver="link('_member','ISO7816_Datablock_ATR3757891290',this); "><img src="../../../../common/info.gif" border=0 onmouseover="overLibDiagram();return overlib('<strong>Syntax</strong><BR>void&nbsp;&nbsp;ISO7816_Datablock_ATR&nbsp;&nbsp;(unsigned char * pAtr, unsigned char * pLength)',CAPTION,'<strong>Brief description</strong><BR>Answer To Reset (ATR).');" onmouseout="return nd();">&nbsp;ISO7816_Datablock_ATR</a></TD>
<TD class="paddingNormal2"><span class="" >Answer To Reset (ATR).<br>
</TD>
</TR>
<TR VALIGN="top">
<TD class="paddingNormal1"><span class="" align=left><a href="#" onMouseOver="link('_member','ISO7816_Decode_ATR178080855',this); "><img src="../../../../common/info.gif" border=0 onmouseover="overLibDiagram();return overlib('<strong>Syntax</strong><BR>void&nbsp;&nbsp;ISO7816_Decode_ATR&nbsp;&nbsp;(unsigned char * pAtr)',CAPTION,'<strong>Brief description</strong><BR>Decode ATR trace.');" onmouseout="return nd();">&nbsp;ISO7816_Decode_ATR</a></TD>
<TD class="paddingNormal2"><span class="" >Decode ATR trace.<br>
</TD>
</TR>
<TR VALIGN="top">
<TD class="paddingNormal1"><span class="" align=left><a href="#" onMouseOver="link('_member','ISO7816_Escape53616',this); "><img src="../../../../common/info.gif" border=0 onmouseover="overLibDiagram();return overlib('<strong>Syntax</strong><BR>void&nbsp;&nbsp;ISO7816_Escape&nbsp;&nbsp;(void )',CAPTION,'<strong>Brief description</strong><BR>Escape ISO7816.');" onmouseout="return nd();">&nbsp;ISO7816_Escape</a></TD>
<TD class="paddingNormal2"><span class="" >Escape ISO7816.<br>
</TD>
</TR>
<TR VALIGN="top">
<TD class="paddingNormal1"><span class="" align=left><a href="#" onMouseOver="link('_member','ISO7816_IccPowerOff53616',this); "><img src="../../../../common/info.gif" border=0 onmouseover="overLibDiagram();return overlib('<strong>Syntax</strong><BR>void&nbsp;&nbsp;ISO7816_IccPowerOff&nbsp;&nbsp;(void )',CAPTION,'<strong>Brief description</strong><BR>Iso 7816 ICC power off.');" onmouseout="return nd();">&nbsp;ISO7816_IccPowerOff</a></TD>
<TD class="paddingNormal2"><span class="" >Iso 7816 ICC <a href="#" OnMouseOver="link('_member','../../utility/power3363666690',this)">power</a> off.<br>
</TD>
</TR>
<TR VALIGN="top">
<TD class="paddingNormal1"><span class="" align=left><a href="#" onMouseOver="link('_member','ISO7816_Init143788164',this); "><img src="../../../../common/info.gif" border=0 onmouseover="overLibDiagram();return overlib('<strong>Syntax</strong><BR>void&nbsp;&nbsp;ISO7816_Init&nbsp;&nbsp;(const Pin pPinIso7816RstMC)',CAPTION,'<strong>Brief description</strong><BR>');" onmouseout="return nd();">&nbsp;ISO7816_Init</a></TD>
<TD class="paddingNormal2"><span class="" >&nbsp;</TD>
</TR>
<TR VALIGN="top">
<TD class="paddingNormal1"><span class="" align=left><a href="#" onMouseOver="link('_member','ISO7816_RestartClock53616',this); "><img src="../../../../common/info.gif" border=0 onmouseover="overLibDiagram();return overlib('<strong>Syntax</strong><BR>void&nbsp;&nbsp;ISO7816_RestartClock&nbsp;&nbsp;(void )',CAPTION,'<strong>Brief description</strong><BR>Restart clock ISO7816.');" onmouseout="return nd();">&nbsp;ISO7816_RestartClock</a></TD>
<TD class="paddingNormal2"><span class="" >Restart clock ISO7816.<br>
</TD>
</TR>
<TR VALIGN="top">
<TD class="paddingNormal1"><span class="" align=left><a href="#" onMouseOver="link('_member','ISO7816_SetDataRateandClockFrequency3363666690',this); "><img src="../../../../common/info.gif" border=0 onmouseover="overLibDiagram();return overlib('<strong>Syntax</strong><BR>void&nbsp;&nbsp;ISO7816_SetDataRateandClockFrequency&nbsp;&nbsp;(unsigned int dwClockFrequency, unsigned int dwDataRate)',CAPTION,'<strong>Brief description</strong><BR>Set data rate and clock frequency.');" onmouseout="return nd();">&nbsp;ISO7816_SetDataRateandClockFrequency</a></TD>
<TD class="paddingNormal2"><span class="" >Set data rate and clock frequency.<br>
</TD>
</TR>
<TR VALIGN="top">
<TD class="paddingNormal1"><span class="" align=left><a href="#" onMouseOver="link('_member','ISO7816_StatusReset53616',this); "><img src="../../../../common/info.gif" border=0 onmouseover="overLibDiagram();return overlib('<strong>Syntax</strong><BR>unsigned char&nbsp;&nbsp;ISO7816_StatusReset&nbsp;&nbsp;(void )',CAPTION,'<strong>Brief description</strong><BR>Pin status for ISO7816 RESET.');" onmouseout="return nd();">&nbsp;ISO7816_StatusReset</a></TD>
<TD class="paddingNormal2"><span class="" ><a href="#" OnMouseOver="link('_class','../../peripherals/pio/Pin0',this)">Pin</a> status for ISO7816 RESET.<br>
</TD>
</TR>
<TR VALIGN="top">
<TD class="paddingNormal1"><span class="" align=left><a href="#" onMouseOver="link('_member','ISO7816_StopClock53616',this); "><img src="../../../../common/info.gif" border=0 onmouseover="overLibDiagram();return overlib('<strong>Syntax</strong><BR>void&nbsp;&nbsp;ISO7816_StopClock&nbsp;&nbsp;(void )',CAPTION,'<strong>Brief description</strong><BR>Stop clock ISO7816.');" onmouseout="return nd();">&nbsp;ISO7816_StopClock</a></TD>
<TD class="paddingNormal2"><span class="" >Stop clock ISO7816.<br>
</TD>
</TR>
<TR VALIGN="top">
<TD class="paddingNormal1"><span class="" align=left><a href="#" onMouseOver="link('_member','ISO7816_toAPDU53616',this); "><img src="../../../../common/info.gif" border=0 onmouseover="overLibDiagram();return overlib('<strong>Syntax</strong><BR>void&nbsp;&nbsp;ISO7816_toAPDU&nbsp;&nbsp;(void )',CAPTION,'<strong>Brief description</strong><BR>T0 APDU.');" onmouseout="return nd();">&nbsp;ISO7816_toAPDU</a></TD>
<TD class="paddingNormal2"><span class="" >T0 APDU.<br>
</TD>
</TR>
<TR VALIGN="top">
<TD class="paddingNormal1"><span class="" align=left><a href="#" onMouseOver="link('_member','ISO7816_warm_reset53616',this); "><img src="../../../../common/info.gif" border=0 onmouseover="overLibDiagram();return overlib('<strong>Syntax</strong><BR>void&nbsp;&nbsp;ISO7816_warm_reset&nbsp;&nbsp;(void )',CAPTION,'<strong>Brief description</strong><BR>Warm reset.');" onmouseout="return nd();">&nbsp;ISO7816_warm_reset</a></TD>
<TD class="paddingNormal2"><span class="" >Warm reset.<br>
</TD>
</TR>
<TR VALIGN="top">
<TD class="paddingNormal1"><span class="" align=left><a href="#" onMouseOver="link('_member','ISO7816_XfrBlockTPDU_T03968134636',this); "><img src="../../../../common/info.gif" border=0 onmouseover="overLibDiagram();return overlib('<strong>Syntax</strong><BR>unsigned short&nbsp;&nbsp;ISO7816_XfrBlockTPDU_T0<BR>(const unsigned char * pAPDU, unsigned char * pMessage, unsigned short wLength)',CAPTION,'<strong>Brief description</strong><BR>Transfert Block TPDU T=0.');" onmouseout="return nd();">&nbsp;ISO7816_XfrBlockTPDU_T0</a></TD>
<TD class="paddingNormal2"><span class="" >Transfert Block TPDU T=0.<br>
</TD>
</TR>
<TR VALIGN="top">
<TD class="paddingHeadMultiColumn1"><span class="" align=left>Defines</TD>
<TD class="paddingHeadMultiColumn2"><span class="" align=left>&nbsp;</TD>
</TR>
<TR VALIGN="top">
<TD class="paddingNormal1"><span class="" align=left><a href="#" onMouseOver="link('_member','ATR_SIZE_MAX2523867595',this); "><img src="../../../../common/info.gif" border=0 onmouseover="overLibDiagram();return overlib('<strong>Syntax</strong><BR>define&nbsp;&nbsp;ATR_SIZE_MAX',CAPTION,'<strong>Brief description</strong><BR>Size max of Answer To Reset.');" onmouseout="return nd();">&nbsp;ATR_SIZE_MAX</a></TD>
<TD class="paddingNormal2"><span class="" >Size max of Answer To Reset.<br>
</TD>
</TR>
<TR VALIGN="top">
<TD class="paddingNormal1"><span class="" align=left><a href="#" onMouseOver="link('_member','ISO_NULL_VAL2523867595',this); "><img src="../../../../common/info.gif" border=0 onmouseover="overLibDiagram();return overlib('<strong>Syntax</strong><BR>define&nbsp;&nbsp;ISO_NULL_VAL',CAPTION,'<strong>Brief description</strong><BR>NULL byte to restart byte procedure.');" onmouseout="return nd();">&nbsp;ISO_NULL_VAL</a></TD>
<TD class="paddingNormal2"><span class="" >NULL byte to restart byte procedure.<br>
</TD>
</TR>
</table>
<div class="contentAirBottom"></div>
<script type="text/javascript">
 Body5();
Statistics("","","","","");
 Body6();
SetPageTab('_unit','_overview');
</script>
