<HTML>
<HEAD>
<TITLE>../../public_html/softpack-1.5/at91sam7s-ek - ISO7816_SetDataRateandClockFrequency</TITLE>
<script type="text/javascript" src="../../../../common/js.js" language="JavaScript"></script>
<script type="text/javascript" src="leftmenu.js" language="JavaScript"></script>
<script type="text/javascript">
 var relPathToCommmon = "../../../../common/";
 var relPathToHelpDir = "../../../../common/help/";
 var toSearchPage     = "_search','../../../../search";
 Body1();
</script>
<div class="headerPage">ISO7816_SetDataRateandClockFrequency</div>
<div class="path"><a href="#" OnMouseOver="link('','../../../../index',this)" class="pathLink">Default mainpage</A><img src="../../../../common/path-arrow.gif" class="path-arrow"><a href="#" OnMouseOver="link('_dir','../../at91lib0',this)" class="pathLink">at91lib</A><img src="../../../../common/path-arrow.gif" class="path-arrow"><a href="#" OnMouseOver="link('_dir','../components0',this)" class="pathLink">components</A><img src="../../../../common/path-arrow.gif" class="path-arrow"><a href="#" OnMouseOver="link('_dir','iso78160',this)" class="pathLink">iso7816</A><img src="../../../../common/path-arrow.gif" class="path-arrow"><span class="pathNonLink">ISO7816_SetDataRateandClockFrequency</span></div>
<script type="text/javascript">
 Body2();
 BodyLeftMenuStart();
WriteLeftMenu("","","","");
 BodyLeftMenuEnd();
 Body3();
</script>
<span class="tabInActive"><a href="#" OnMouseOver="linkTab('_member','ISO7816_SetDataRateandClockFrequency3363666690','_description',this)" class="tabLinkInActive">Description</a></span>
<span class="tabActive"><a href="#" OnMouseOver="linkTab('_member','ISO7816_SetDataRateandClockFrequency3363666690','_source',this)" class="tabLinkActive">Source</a></span>
<span class="tabInActiveGrayout"><span class="tabLinkGrayout">Call Graph</span></span>
<script type="text/javascript">
 Body4();
</script>
<div class="contentAirTop"></div>
<div class="paragraph2NoTopPadding">Start Line: 418</div>
<pre class="codeExamples">
void <a href="#" onMouseOver="link('_member','ISO7816_SetDataRateandClockFrequency3363666690',this); ">ISO7816_SetDataRateandClockFrequency</a>(unsigned int dwClockFrequency, unsigned int dwDataRate)
{
    unsigned char ClockFrequency;

    // Define the baud rate divisor register
    // CD  = MCK / SCK
    // SCK = FIDI x BAUD = 372 x 9600
    // BOARD_MCK
    // CD = MCK/(FIDI x BAUD) = 48000000 / (372x9600) = 13
    AT91C_BASE_US0-&gt;US_BRGR = <a href="#" onMouseOver="link('_member','../../boards/at91sam7s-ek/BOARD_MCK839682361',this); ">BOARD_MCK</a> / (dwClockFrequency*1000);

    ClockFrequency = <a href="#" onMouseOver="link('_member','../../boards/at91sam7s-ek/BOARD_MCK839682361',this); ">BOARD_MCK</a> / AT91C_BASE_US0-&gt;US_BRGR;

    AT91C_BASE_US0-&gt;US_FIDI = (ClockFrequency)/dwDataRate;

}
</pre><div class="contentAirBottom"></div>
<script type="text/javascript">
 Body5();
Statistics("","","","","");
 Body6();
SetPageTab('_member','_source');
</script>
