<HTML>
<HEAD>
<TITLE>../../public_html/softpack-1.5/at91sam7s-ek - iso7816_4.h</TITLE>
<script type="text/javascript" src="../../../../common/js.js" language="JavaScript"></script>
<script type="text/javascript" src="leftmenu.js" language="JavaScript"></script>
<script type="text/javascript">
 var relPathToCommmon = "../../../../common/";
 var relPathToHelpDir = "../../../../common/help/";
 var toSearchPage     = "_search','../../../../search";
 Body1();
</script>
<div class="headerPage">iso7816_4.h</div>
<div class="path"><a href="#" OnMouseOver="link('','../../../../index',this)" class="pathLink">Default mainpage</A><img src="../../../../common/path-arrow.gif" class="path-arrow"><a href="#" OnMouseOver="link('_dir','../../at91lib0',this)" class="pathLink">at91lib</A><img src="../../../../common/path-arrow.gif" class="path-arrow"><a href="#" OnMouseOver="link('_dir','../components0',this)" class="pathLink">components</A><img src="../../../../common/path-arrow.gif" class="path-arrow"><a href="#" OnMouseOver="link('_dir','iso78160',this)" class="pathLink">iso7816</A><img src="../../../../common/path-arrow.gif" class="path-arrow"><span class="pathNonLink">iso7816_4.h</span></div>
<script type="text/javascript">
 Body2();
 BodyLeftMenuStart();
WriteLeftMenu("divID5529","aID5529","LeftMenuActive","leftMenuLinkActive");
 BodyLeftMenuEnd();
 Body3();
</script>
<span class="tabActive"><a href="#" OnMouseOver="linkTab('_unit','iso7816_4_h0','_description',this)" class="tabLinkActive">Description</a></span>
<span class="tabInActive"><a href="#" OnMouseOver="linkTab('_unit','iso7816_4_h0','_overview',this)" class="tabLinkInActive">Overview</a></span>
<script type="text/javascript">
 Body4();
</script>
&nbsp;<br>
<div class="paragraph2">Description</div>
<div id="descDesc" class="paddingMembers"><div class="userParagraph3">Purpose</div>
Definition of methods for ISO7816 driver.<br>
<br>
<div class="userParagraph3">Usage</div>
<ol>
<li><a href="#" OnMouseOver="link('_member','ISO7816_Init143788164',this)">ISO7816_Init</a></li>
<li><a href="#" OnMouseOver="link('_member','ISO7816_IccPowerOff53616',this)">ISO7816_IccPowerOff</a></li>
<li><a href="#" OnMouseOver="link('_member','ISO7816_XfrBlockTPDU_T03968134636',this)">ISO7816_XfrBlockTPDU_T0</a></li>
<li><a href="#" OnMouseOver="link('_member','ISO7816_Escape53616',this)">ISO7816_Escape</a></li>
<li><a href="#" OnMouseOver="link('_member','ISO7816_RestartClock53616',this)">ISO7816_RestartClock</a></li>
<li><a href="#" OnMouseOver="link('_member','ISO7816_StopClock53616',this)">ISO7816_StopClock</a></li>
<li><a href="#" OnMouseOver="link('_member','ISO7816_toAPDU53616',this)">ISO7816_toAPDU</a></li>
<li><a href="#" OnMouseOver="link('_member','ISO7816_Datablock_ATR3757891290',this)">ISO7816_Datablock_ATR</a></li>
<li><a href="#" OnMouseOver="link('_member','ISO7816_SetDataRateandClockFrequency3363666690',this)">ISO7816_SetDataRateandClockFrequency</a></li>
<li><a href="#" OnMouseOver="link('_member','ISO7816_StatusReset53616',this)">ISO7816_StatusReset</a></li>
<li><a href="#" OnMouseOver="link('_member','ISO7816_cold_reset53616',this)">ISO7816_cold_reset</a></li>
<li><a href="#" OnMouseOver="link('_member','ISO7816_warm_reset53616',this)">ISO7816_warm_reset</a></li>
<li><a href="#" OnMouseOver="link('_member','ISO7816_Decode_ATR178080855',this)">ISO7816_Decode_ATR</a></li>
</ol>

</div>
<script type="text/javascript">
 Body5();
Statistics("","","","","");
 Body6();
SetPageTab('_unit','_description');
</script>
