
######################################
# OpenOCD Configuration Script
#
# Interface: Olimex JTAG USB OCD Tiny
######################################


######################
# Daemon configuration
######################

telnet_port 4444
gdb_port 3333
gdb_memory_map enable
gdb_flash_program enable


##############################
# JTAG interface configuration
##############################

interface ft2232
interface ft2232
ft2232_layout olimex-jtag
ft2232_vid_pid 0x15ba 0x0004



###############################
# Board type Atmel AT91SAM7S256
###############################

#use combined on interfaces or targets that can't set TRST/SRST separately
reset_config srst_only srst_pulls_trst

if { [info exists CHIPNAME] } {
   set  _CHIPNAME $CHIPNAME
} else {
   set  _CHIPNAME at91sam7s
}

if { [info exists ENDIAN] } {
   set  _ENDIAN $ENDIAN
} else {
   set  _ENDIAN little
}

if { [info exists CPUTAPID ] } {
   set _CPUTAPID $CPUTAPID
} else {
   set _CPUTAPID 0x3f0f0f0f
}

jtag newtap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_CPUTAPID

set _TARGETNAME $_CHIPNAME.cpu

target create $_TARGETNAME arm7tdmi -endian $_ENDIAN -chain-position $_TARGETNAME -variant arm7tdmi
$_TARGETNAME configure -event reset-init {
        soft_reset_halt
        # RSTC_CR : Reset peripherals
        mww 0xfffffd00 0xa5000004
        # disable watchdog
	mww 0xfffffd44 0x00008000
	# enable user reset
	mww 0xfffffd08 0xa5000001
	# CKGR_MOR : enable the main oscillator
	mww 0xfffffc20 0x00000601
	sleep 10
	# CKGR_PLLR: 96.1097 MHz
	mww 0xfffffc2c 0x00481c0e
	sleep 10
	# PMC_MCKR : MCK = PLL / 2 ~= 48 MHz
	mww 0xfffffc30 0x00000007
	sleep 10
	# MC_FMR: flash mode (FWS=1,FMCN=73)
	mww 0xffffff60 0x00490100
	sleep 100
}

$_TARGETNAME configure -work-area-virt 0 -work-area-phys 0x00200000 -work-area-size 0x4000 -work-area-backup 0

#flash bank <driver> <base_addr> <size> <chip_width> <bus_width> <target_number> [<target_name> <banks> <sectors_per_bank> <pages_per_sector> <page_size> <num_nvmbits> <ext_freq_khz>]
flash bank at91sam7 0 0 0 0 0 0 0 0 0 0 0 0 18432

# For more information about the configuration files, take a look at:
# openocd.tex


init
reset halt

sleep 1000

armv4_5 core_state arm          # select the core state

mww 0xffffff60 0x00480100       # set flash wait state (AT91C_MC_FMR)
mww 0xfffffd44 0xa0008000       # watchdog disable (AT91C_WDTC_WDMR)
mww 0xfffffc20 0xa0000601       # enable main oscillator (AT91C_PMC_MOR)
sleep 100                       # wait 100 ms
mww 0xfffffc2c 0x00480a0e       # set PLL register (AT91C_PMC_PLLR)
sleep 200                       # wait 200 ms
mww 0xfffffc30 0x7              # set master clock to PLL (AT91C_PMC_MCKR)
sleep 100                       # wait 100 ms
mww 0xfffffd08 0xa5000401       # enable user reset AT91C_RSTC_RMR
flash protect 0 0 0 off
sleep 100
mww 0xffffff60 0x00320100
sleep 100
flash write_bank 0 main.bin 0   # program the onchip flash
sleep 100
reset run
shutdown
